body{
    background-image: url('images/avocat-technologies-avancees.jpg'); 
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
  }
  div.clear{
    clear: both;
  }
  div.botsays{
    overflow: auto; 
    color: gray;
    font-weight: bold;
    border:5px solid blue;
    padding: 5px;
    float: left;
    max-width: 60%;
    margin:10px 0px 10px 0;
    background: white;
    border-radius: 17px;
  }
  div.usersays{
    overflow: auto; 
    color: gray;
    font-weight: bold;
    border:5px solid blue;
    padding: 5px;
    float: right;
    margin:10px 0px 10px 0;
    max-width: 60%;
    background: white;
    border-radius: 17px;
  }

  div.nameusersays{
    float: right;
    color:white;
    font-weight: bold;
    padding-left: 13px;
  }
  div.namebotsays{
    float: left;
    color:white;
    font-weight: bold;
    padding-right: 13px;
  }

  div#container{
    padding-bottom: 10%;
  }
  form{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 0px 0px 5px 0px;
  }

  img.wait{
    float: left;
  }